/*
DOWNLOADED FROM http://www.makaveev.com/lab/css_table_gallery/oranges-in-the-sky.css

--------------------------------------------------------------------------------
What:	"Oranges in the sky" Styles(Table data design)
Who:	Krasimir Makaveev(krasi [at] makaveev [dot] com)
When:	15.09.2005(created)
--------------------------------------------------------------------------------
*/

table {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc; 
  color: #333;
}

table caption {
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 10px;
  padding: 5px;
  background: #efefef;
  border: 1px solid #ccc;
  color: #666;
}

table a {
  text-decoration: none;
  border-bottom: 1px dotted #f60;
  color: #f60;
  font-weight: bold;
}

table a:hover {
  text-decoration: none;
  color: #fff;
  background: #f60;
}

table tr th a {
  color: #369;
  border-bottom: 1px dotted #369;
}

table tr th a:hover {
  color: #fff;
  background: #369;
}

table thead tr th {
  text-transform: uppercase;
  background: #e2e2e2;
}

table tfoot tr th, table tfoot tr td {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
}

table tfoot tr th {
  width: 20%;
}

table tfoot tr td {
  width: 80%;
}

table td, table th {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  line-height: 1.8em;
  font-size: 0.8em;
  vertical-align: top;
  width: 20%;
}

table tr.odd th, table tr.odd td {
  background: #efefef;
}