/*
 * Plexflow help main CSS
 */

/** Imports YUI3 CSS */
@import url(cssbase-min.css);
@import url(cssfonts-min.css);

@import url(tables.css);


body {
	/*
	Set base font size.	Conversion from % to px are at: http://yuilibrary.com/yui/docs/cssfonts/
	*/
	font-size: 93%; /* renders 12px */
}

h1, h2, h3, h4, h5, h6 {
	border-bottom: 1px solid #919699;
}

tt, code, pre {
	font-size: 108%;
}

pre  {
	padding: 1em;
	border: 1px dashed #2F6FAB;
	color: black;
	background-color: #F9F9F9;
	line-height: 1.1em;
}



/* OS-specific note */
em.os {
	background: #DDFADE;
	border: 2px solid #93C49F;
	color: black;
	padding: 4px 12px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	display: inline-block;
	text-align: center;
	min-width: 60px;
	font-style: normal;
}

/* Note */
.note {
	background-color: #EEF;
	background-image: url(http://plexflow.virtage.com/wiki2/li);
	width: 95% !important;
	vertical-align: middle;
	text-align: left;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;	
}

.tip {
	background-color: #FFC;
	background-image: url(http://plexflow.virtage.com/wiki2/li);
	width: 95% !important;
	vertical-align: middle;
	text-align: left;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;	
}

.warning {
	background-color: #FDD;
	background-image: url(http://plexflow.virtage.com/wiki2/li);
	width: 95% !important;
	vertical-align: middle;
	text-align: left;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;	
}